
.App {
  background-color: #31313C;
}

.ChampionPage {
  background-color: #060e1f;
  color: white;
  height: 100vh;
  text-align: center;
}

.stat-box {
  background-color: rgb(19, 14, 57);
  border: 1px solid darkcyan;
  border-radius: 10px;
  padding: 5px;
  margin: 8px;
  text-justify: auto;
}

.ChampionSmallCard .card-body{
  border-radius: 5px;
  margin: 5px;
}

.blueSide {
  background-color: aqua;
}

.redSide {
  background-color: lightcoral;
}

.fit-image-right {
  padding: 5px;
  width: 520px;
  height: 700px;
  object-fit: none;
  object-position: 90% 90%;
  border-radius: 20px;
}

.stats {
  background-color: #060e1f;
  padding: 30px;
}

h1 {
  padding: 25px 0px 25px 0px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Table */

.championTable {
  background-color: #31313C;
  color: #9E9EB1;
}

.table-scroll{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}
table tr th,
table tr td {
  border-bottom: 1px solid #1C1C1F;
  padding: 5px;
}

table tr th {
  background: #282830;
  text-align: left;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.pagination a{
  margin-top: 12px;
  background-color: #31313C;
  color: #9E9EB1;
}

.playerCard {
  background-color: rgb(35, 35, 35);
  color: #9E9EB1;
  border-radius: 10px;
  padding: 12px;
  margin: 0 0 50px 50px;
  border: 1px solid black;
}

.statCard {
    height: calc(33.333% -10px);
    margin: 5px;
    padding: 12px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s; 
    background-color: rgb(35, 35, 35);
    color: #9E9EB1;
    border: 1px solid black;
    border-radius: 10px;
}

.navbar {
  margin-bottom: 50px;
}