

.App {
  background-color: #31313C;
  /* font-family: Beaufort; */
}

.ChampionPage {
  background-color: #060e1f;
  color: white;
  height: 100vh;
  text-align: center;
}

.stat-box {
  background-color: rgb(19, 14, 57);
  border: 1px solid darkcyan;
  border-radius: 10px;
  padding: 5px;
  margin: 8px;
  text-justify: auto;
}

.ChampionSmallCard .card-body{
  border-radius: 5px;
  margin: 5px;
}

.blueSide {
  background-color: aqua;
}

.redSide {
  background-color: lightcoral;
}

.fit-image-right {
  padding: 5px;
  width: 520px;
  height: 700px;
  object-fit: none;
  object-position: 90% 100%;
  border-radius: 20px;
}

.fit-image-middle {
  padding: 5px;
  width: 520px;
  height: 700px;
  object-fit: none;
  object-position: 70% 100%;
  border-radius: 20px;
}

.fit-image-center {
  padding: 5px;
  width: 520px;
  height: 700px;
  object-fit: none;
  object-position: 50% 100%;
  border-radius: 20px;
}


.stats {
  background-color: #060e1f;
  padding: 30px;
}

h1 {
  padding: 25px 0px 25px 0px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Table */

.championTable {
  background-color: #31313C;
  color: #9E9EB1;
}

.table-scroll{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}
table tr th,
table tr td {
  border-bottom: 1px solid #1C1C1F;
  padding: 5px;
}

table tr th {
  background: #282830;
  text-align: left;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.pagination a{
  margin-top: 12px;
  background-color: #31313C;
  color: #9E9EB1;
}

.playerCard {
  background-color: rgb(35, 35, 35);
  color: #9E9EB1;
  border-radius: 10px;
  padding: 12px;
  margin: 0 0 50px 50px;
  border: 1px solid black;
}

.statCard {
    height: calc(33.333% -10px);
    margin: 5px;
    padding: 12px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s; 
    background-color: rgb(35, 35, 35);
    color: #9E9EB1;
    border: 1px solid black;
    border-radius: 10px;
}

.navbar {
  margin-bottom: 50px;
}


/* Scrolling Images */

main {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

section {
  transform-style: preserve-3d;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#topBar {
  width: 100%;
  text-align: center; 
  background-color: rgb(35, 35, 35); 
  margin-bottom: 0;
}

.no-parallax {
  background-color: #111;
  z-index: 999;
}

section h1 {
  text-align: center;
  font-size: 2rem;
  /* font-family: 'Beaufort'; */
}

.parallax h1 {
  width: 60%;
  font-size: 8rem;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}

.bg1::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("~/public/images/worldstrophy.jpeg");
  background-size: cover;
}

.bg2::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("~/public/images/worlds2020.jpeg");
  background-size: cover;
}

.bg3::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("~/public/images/worlds2021.jpeg");
  background-size: cover;
}

.bg4::after {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("~/public/images/worlds2022.jpeg");
  background-size: cover;
}

/* @media screen and (min-width: 768px) {
  section h1 {
    font-size: 8rem;
  }
  .parallax h1 {
    font-size: 4rem;
  }
} */
